
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="header" class="nav__link">Catalog</a></li>
                <li class="nav__item"><a href="" class="nav__link">Discounts</a></li>
                <li class="nav__item"><a href="" class="nav__link">Payments and delivery</a></li>
                <li class="nav__item"><a href="" class="nav__link">Job in our company</a></li>
                <li class="nav__item"><a href="footer" class="nav__link">Contacts</a></li>
            </ul>
            <div class="header__cart cart" tabindex="0">
                <div class="cart__text">
                    Bucket
                    <span class="cart__quantity">0</span>
                </div>
                <div class="cart-content">
                    <ul class="cart-content__list" data-simplebar>
                        <!--trash-->
                    </ul>
                    <div class="cart-content__bottom">
                        <div class="cart-content__fullprice">
                            <span>Sum:</span>
                            <span class="fullprice">Sum</span>
                        </div>
                        <div class="cart-content__btn btn">Go to shooping list</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="content">
    <div class="container-cont">
        <h2>Contacts and terms of use</h2>
        <h3 style="padding-top: 20px">How to reach us</h3>
        <p style="padding-top: 20px">5534 Lviv, Ukraine, #65498. © 2021 Nastia Gerych. All rights reserved.

        </p>
        <h3 style="padding-top: 20px">Copyright</h3>
        <p style="padding-top: 20px">All content included in or made available through any Our Service,
            such as text, graphics, logos, button icons, images, audio clips, digital
            downloads, data compilations, and software is the property of Our Service or its
            content suppliers and protected by United States and international copyright laws.
            The compilation of all content included in or made available through any Our Service is
            the exclusive property of Our Service and protected by Ukraine and international copyright laws.</p>
        <h3 style="padding-top: 20px">Trademarks</h3>
        <p style="padding-top: 20px">graphics, logos, page headers, button icons, scripts, and service names included in
            or made available through any Our Service are trademarks or trade dress of
            Our Service in the Ukraine and other countries. Our Service's trademarks and trade dress may
            not be used in connection with any product or service that is not Our Service's, in any
            manner that is likely to cause confusion among customers, or in any manner that disparages
            or discredits Our Service. All other trademarks not owned by Our Service that appear in any Our
            Service are the property of their respective owners, who may or may not be affiliated with,
            connected to, or sponsored by Our Service.</p>
        <h3 style="padding-top: 20px">Your account</h3>
        <p style="padding-top: 20px">You may need your own account to use certain services, and you may be required
            to be logged in to the account and have a valid payment method associated with it.
            If there is a problem charging your selected payment method, we may charge any other
            valid payment method associated with your account.</p>
    </div>
</main>
<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">Bookshop</h1>
        <h2>Contact</h2>
        <address>
            5534 Lviv, Ukraine, #65498<br>
        </address>
    </div>
    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Media</h2>
            <ul class="nav__ul">
                <li>
                    <a href="#">Online</a>
                </li>
            </ul>
        </li>
        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>
            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">Design</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            <ul class="nav__ul">
                <li>
                    <a href="hooter">Privacy Policy</a>
                </li>

                <li>
                    <a href="footer">Terms of Use</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="legal">
        <p>&copy; 2021 Nastia Gerych. All rights reserved.</p>
        <div class="legal__links">
            <span>Made with <span class="heart">♥</span> JS + HTML/CSS</span>
        </div>
    </div>
</footer>
</body>
</html>