<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="header" class="nav__link">Catalog</a></li>
                <li class="nav__item"><a href="" class="nav__link">Discounts</a></li>
                <li class="nav__item"><a href="" class="nav__link">Payments and delivery</a></li>
                <li class="nav__item"><a href="" class="nav__link">Job in our company</a></li>
                <li class="nav__item"><a href="footer" class="nav__link">Contacts</a></li>
            </ul>
            <div class="header__cart cart" tabindex="0">
                <div class="cart__text">
                    Bucket
                    <span class="cart__quantity">0</span>
                </div>
                <div class="cart-content">
                    <ul class="cart-content__list" data-simplebar>
<!--                        trash-->
                    </ul>
                    <div class="cart-content__bottom">
                        <div class="cart-content__fullprice">
                            <span>Sum:</span>
                            <span class="fullprice">Sum</span>
                        </div>
                        <div class="cart-content__btn btn">Go to shooping list</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="content">
    <div class="container">
        <div class="products-content grid-container">
            <div class="filters">

<!--some filter, someday-->
            </div>
            <ul class="products-grid">
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-11.jpg"></div>
                                </div>
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-12.jpg"></div>
                                </div>
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-13.jpg"></div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">Harry Potter and the Sorcerer's Stone</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,4
								</span>
                            <span class="product__testimonials">83 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 879876</span>
                            <span class="product__available">Available now: 13 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">25 $</span>
                            <span class="product-price__old">35 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-21.jpg"></div>
                                </div>
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-22.jpg"></div>
                                </div>
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-23.jpg"></div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">After (The After Series Book 1)</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,7
								</span>
                            <span class="product__testimonials">42 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 879857</span>
                            <span class="product__available">Available now: 25 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">34 $</span>
                            <span class="product-price__old">47 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-31.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-32.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-33.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">Harry Potter and the Order of the Phoenix</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									3,4
								</span>
                            <span class="product__testimonials">74 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 885377</span>
                            <span class="product__available">Available now: 36 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">30 $</span>
                            <span class="product-price__old">40 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-41.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-42.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">On the House: A Washington Memoir</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									3,9
								</span>
                            <span class="product__testimonials">74 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 877277</span>
                            <span class="product__available">Available now: 42 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">52 $</span>
                            <span class="product-price__old">76 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-51.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-52.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">Blessed Monsters: A Novel</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,1
								</span>
                            <span class="product__testimonials">154 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 216155</span>
                            <span class="product__available">Available now: 3 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">11 $</span>
                            <span class="product-price__old">15 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-61.jpg"></div>
                                </div>
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img src="/images/book-62.jpg"></div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">The Tower of Swallows</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,6
								</span>
                            <span class="product__testimonials">83 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 654161</span>
                            <span class="product__available">Available now: 54 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">45 $</span>
                            <span class="product-price__old">65 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-71.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-72.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">Serpent & Dove (Serpent & Dove, 1)</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,9
								</span>
                            <span class="product__testimonials">14 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 874651</span>
                            <span class="product__available">Available now: 55 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">27 $</span>
                            <span class="product-price__old">54 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-81.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">House of Earth and Blood (Crescent City)</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									3,4
								</span>
                            <span class="product__testimonials">41 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 876411</span>
                            <span class="product__available">Available now: 32 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">62 $</span>
                            <span class="product-price__old">81 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="product__switch image-switch">
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-91.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-92.jpg"></div>
                                    </div>
                                    <div class="image-switch__item">
                                        <div class="image-switch__img"><img src="/images/book-93.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#">Woman Evolve: Break Up with Your Fears and Revolutionize Your Life</a>
                        </h3>
                        <div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
                                                d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									5,0
								</span>
                            <span class="product__testimonials">31 feedbacks</span>
                        </div>
                        <div class="product__info">
                            <span class="product__term">Article: 879876</span>
                            <span class="product__available">Available now: 40 ps.</span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current">28 $</span>
                            <span class="product-price__old">37 $</span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>
            </ul>
        </div>
        <div class="height" style="height: auto; margin-bottom: 30px"></div>
    </div>
</main>

<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">Bookshop</h1>
        <h2>Contact</h2>
        <address>
            5534 Lviv, Ukraine, #65498<br>
        </address>
    </div>
    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Media</h2>
            <ul class="nav__ul">
                <li>
                    <a href="#" class="tooltip-o">Online</a>
                </li>
            </ul>
        </li>
        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>
            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">Design</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            <ul class="nav__ul">
                <li>
                    <a href="footer">Privacy Policy</a>
                </li>

                <li>
                    <a href="footer">Terms of Use</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="legal">
        <p>&copy; 2021 Nastia Herych. All rights reserved.</p>
        <div class="legal__links"></div>
    </div>
</footer>

<script src="/js/simplebar.js"></script>
<script src="/js/product.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>