<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_style.css">
</head>
<body>
<div class="wrapper">
    <div class ="LoginForm">
        <h1>LOGIN FORM</h1>
        <form action="">
            <input class="facebook" type="submit" value="Login with facebook">
            <input class="twitter" type="submit" value="Login with twitter">
        </form>

        <div class="line">
            <div class="line1">
            </div>
            <div class="or">
                <p>Or</p>
            </div>
            <div class="line2">
            </div>
        </div>

<!--        <form action="#" th:action="@{/login}" th:object="${login}" method="post">-->
<!--            <input type="text" th:field="*{email}" placeholder="login(email)"><br>-->
<!--            <input type="password" th:field="*{password}" placeholder="password"><br>-->
            <form >
                <input type="text" placeholder="login(email)"><br>
                <input type="password"  placeholder="password"><br>
            <table>
                <tr>
                    <td>
                        <label><input type="checkbox">Remember me</label>
                    </td>
                    <td>
                        <p id="lostpass"><a href="">Forgot your password?</a></p>
                    </td>
                </tr>
            </table>
            <div class="LoginButton" act>
                <a class="LoginButtontext" href="header"> Login </a></div>
<!--            <input type="submit" value="Submit" />-->
            <p>Not a member?
                <a href="register"  class="button">Sign up now!</a></p>

        </form>
    </div>
</div>
<!-- <script>
       function myFunction() {
       console.log('Function');
         window.location.href="header";
       }
</script> -->
</body>
</html>